<footer>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 footer_block">
                <p>Jennifer Cox</p>
                   <p>Beautician</p> 
                   <p>Jersey Shore USA</p> 

             
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 footer_block">

              
                  <ul class="footer-custom-link" routerLinkActive="active">
                    <li class=""><a class="" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Home</a></li>
                    <li class=""><a class="" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
                    <li class=""><a class="" routerLink="education" routerLinkActive="active">Education</a></li>
                    <li class=""><a class="" routerLink="reach" routerLinkActive="active">Reach</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 footer_black">
                <ul class="social-links">
                    <li>
                        <a href="https://www.facebook.com/lillianbernardcos/" target="_blank" title="Facewbook"><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/fb_icon.png" alt="Facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LBCosmeticsInc" target="_blank" title="Twitter"><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/twitter_icon.png" alt="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/jennnniecox/" target="_blank" title="Pinterest"><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/pinterest_icon.png" alt="Pinterest"></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/jennnniecox/" target="_blank" title="GooglePlus"><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/G_icon.png" alt="google"></a>
                    </li>
                </ul>
                <div class="footer_contact">
                <p>732-299-6622</p>
                <p>jenco@aol.com</p></div>
                
            </div>
        </div>
    </div>
    <div class="site_by"><p>Powered by <span><a href="http://safecaches.com">Safecaches</a></span></p></div>
</footer><!--end footer section-->