<div class="container reach_container">
    <div class="reach">
        <h1>Reach Me</h1>
   
    </div>
    <div class="reach_me">
        <h2>Call or Email for appointments or just to say hi!</h2>
        
<table class="custom_table" width="100%">
<thead>
<tr>
<th>Purpose</th>
<th>Address</th>
</tr>
</thead>
<tbody>
<tr>
<td>General</td>
<td><a href="mailto:jenco1231@aol.com">jenco1231@aol.com</a></td>
</tr>
<tr>
<td>Appointments</td>
<td><a href="mailto:bookings@jennieselegantbride.com">bookings@jennieselegantbride.com</a></td>
</tr>
</tbody>
</table>
     
    </div>
</div>
<style>
@import url('https://fonts.googleapis.com/css?family=Coustard');
</style>