
<h1>
    {{title}}
</h1>

<div class="container home_containter">
    <div class="jumbotron">

        <div class="container"><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/original_home_image_trans.png" /></div>

    </div><!--end jumbotron section-->

    
</div>
<div class="container about_me ">
    <h2 class="col-md-12">About Me</h2>
    <div class="row">
        

        <div class="about_left col-md-12 col-lg-6">
            <p>Hi my name is Jennie, I have had the pleasure of sharing in the joy of countless special wedding days by providing my bridal hair and makeup service.  I have a knack for understanding your vision and bringing it to life. I studied at Paul Mitchell The School Jersey Shore, and while I was there I learned the techniques that make for the most elegant updos for brides and their bridesmaids. I love working with all different kinds of braids and twists and look forward to sharing in more unforgettable moments.</p>
        </div>
        <div class="col-md-12 col-lg-6" id=""><img src="https://s3-us-west-2.amazonaws.com/jennieseleganthair/img/jennie.JPG"/></div>
        
    </div>
</div>

<!--end about me section-->
<div class="row"></div>

<style>
@import url('https://fonts.googleapis.com/css?family=Coustard');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
</style>



